<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8"/>
<title>Home</title>
	
</head>
<body>
	<section>
	<div class="container">
		<h1>Health Insurance Plans</h1>
	    <p >Buy/Renew your medical insurance policy with CareEase, and explore the sector of medical insurance in India by safeguarding your well-being, enjoying tax benefits, a network of 10,000+ cashless hospitalisation, no claim bonus, co-payment and financial shelter.</p>
	    
	    <hr>
	    
	    <div class="mycard mt-5">
		<h2 style="background-color: midnightblue; color: white; height: 50px;"> Our Most Popular Health Insurance Plans</h2>
		<p>Here are our most popular health insurance plans which provide you comprehensive hospitalization coverage.</p>
	<div class="card-group">
	  <div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title text-center" style="background-color: coral; color: white; height: 30px;">Reassure 2.0</h5>
	      <p class="card-text">A health insurance plan that keeps giving you more!</p>
	      <ul class="list-group">
			  
			
			  <li class="list-group-item list-group-item-primary" >Pay premiun as per your entry age</li>
			  <li class="list-group-item list-group-item-secondary">Carry forward unused base sum insured upto 10 times of base cover</li>
			  <li class="list-group-item list-group-item-success">Use and get back you base coverage over and above the balance</li>
			  <li class="list-group-item list-group-item-danger">upto 30 % discount on renewals</li>
			  <li class="list-group-item list-group-item-warning">Health check up annual</li>
			  <li class="list-group-item list-group-item-info">Family combination Applicable( upto 6 member)</li>
			  <li class="list-group-item list-group-item-light">Cover Starts from 5 Lakhs - 1 crore</li>
			  <li class="list-group-item list-group-item-dark">Premium starts from 10,224/Yr</li>
		  </ul>

	      <p class="card-text mt-3" ><small class="text-body-secondary" >This plan offers full COVID-19 cover</small></p>
	    </div>
	  </div>
	  <br>
	  <div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title text-center" style="background-color: coral; color: white; height: 30px;">Health Companion</h5>
	      <p class="card-text">An affordable health insurance plan that makes securing your health painless</p>
	       <ul class="list-group">
			  
			
			  <li class="list-group-item list-group-item-primary">Alternative treatment</li>
			  <li class="list-group-item list-group-item-secondary">Pre and post hospitalization</li>
			  <li class="list-group-item list-group-item-success">All day care and treatments</li>
			  <li class="list-group-item list-group-item-danger">no claim bonus</li>
			  <li class="list-group-item list-group-item-warning">Health check up annual</li>
			  <li class="list-group-item list-group-item-info">No room rent cap</li>
			  <li class="list-group-item list-group-item-light">Cover Upto 1 crore</li>
			  <li class="list-group-item list-group-item-dark">Premium starts from 5,116/Yr</li>
		  </ul>

	      <p class="card-text mt-3" ><small class="text-body-secondary" >This plan offers full COVID-19 cover</small></p>
	    </div>
	  </div>
	  <br>
	  <div class="card">
	    
	    <div class="card-body">
	      <h5 class="card-title text-center" style="background-color: coral; color: white; height: 30px;">HeartBeat</h5>
	      <p class="card-text">A comprehensive cover that takes care of the finer details</p>
	       <ul class="list-group">
			  
			
			  <li class="list-group-item list-group-item-primary">International Coverage</li>
			  <li class="list-group-item list-group-item-secondary">OPD consultations</li>
			  <li class="list-group-item list-group-item-success">Maternity and new born coverage</li>
			  <li class="list-group-item list-group-item-danger">Loyalty Bonus</li>
			  <li class="list-group-item list-group-item-warning">Maternity benefits</li>
			  <li class="list-group-item list-group-item-info">Day care treatments</li>
			  <li class="list-group-item list-group-item-light">Cover Starts from 5 Lakhs - 50 Lakh</li>
			  <li class="list-group-item list-group-item-dark">Premium starts from 17,234/Yr</li>
		  </ul>

	      <p class="card-text mt-3" ><small class="text-body-secondary" >This plan offers full COVID-19 cover</small></p>
	      
	    </div>
	  </div>
	</div>
	</div>
	
	<hr>
	
	
		<div class="eligibility mt-5">
	<h2 style="background-color: midnightblue; color: white; height: 80px;">What is Health Insurance Policy ?</h2>
	<p class="mt-3">
	Health insurance is a financial arrangement in which individuals or groups pay premiums to an insurance provider in exchange for coverage of medical expenses. It is designed to protect individuals and families from potentially high healthcare costs by providing financial support for various medical services, including doctor visits, hospital stays, medications, and preventive care. Health insurance policies vary in coverage, deductibles, and co-payments and can be obtained through employers, government programs, or private insurers.
	</p>
		
</div>


<hr>
	
	<div class="eligibility mt-5">
	<h2 style="background-color: midnightblue; color: white; height: 80px;">Eligibility Criteria for the plan</h2>
	<p class="mt-3">
	Eligibility for a medical insurance policy is determined based on the following criteria:
	Age: Typically, the entry age for the insured ranges from 18 to 65 years, but it can extend to 70 years in some cases. Children aged 16 days to 18 years can also be covered, and there may be provisions for newborn and post-natal care.
	Tests: Some insurers may require favourable medical test results, including routine blood and urine tests, as well as tests related to major organs. Applicants below the age of 45 generally do not need to undergo medical tests.
	Medical Condition: Pre-existing health conditions must be disclosed during the application process. This disclosure may trigger a waiting period and can affect the calculation of the premium.
	Ensure you meet the eligibility criteria specified above to avail the benefits of a medical insurance policy.
	
	Save Tax with a Medical Insurance Policy.
	</p>
		
</div>


<hr>


<div style=" width: 100%; height: 650px;">  
  
        <div style=" width: 50%; height: 650px; float:left;">  
			
        </div>  
  
        <div style=" width:50%; height: 650px; float:left;" >  
  		
        </div> 
         
</div>  


 
<hr>
	<div class="reasons mt-5">
	<h2 style="background-color: midnightblue; color: white; height: 80px;">Reasons for buying health insurance plan</h2>
	
	
  <ul class="list-group list-group-flush mt-3">
  <li class="list-group-item list-group-item-primary">Beating Medical Inflation: Medical costs are rising due to technological advancements and treatment quality. However, health insurance provides coverage that ensures affordable healthcare without worrying about increasing medical expenses.</li>
  <li class="list-group-item list-group-item-success">Safeguarding Your Wealth: Paying for hospitalisation out of your savings can leave a significant financial burden. Health insurance protects your money and assets, requiring only a small premium per policy period.</li>
  <li class="list-group-item list-group-item-danger">Protecting Your Family: Ensure the well-being of your entire household by purchasing health insurance that covers every family member. Use the benefits to fulfil the medical needs of each individual.</li>
  <li class="list-group-item list-group-item-secondary">Tax Benefits: Medical insurance premiums are tax-deductible under Section 80D, reducing your overall tax liability</li>
  
</ul>
</div>



<hr>


<div class="thingsconsider">
	<h2 style="background-color: midnightblue; color: white; height: 80px;">Things to Consider Before Buying Health Insurance Plans in India</h2>
	<p>Choosing the right policy requires careful consideration in the vast landscape of health insurance options. Here are some major points to keep in mind:</p>
  <ul class="list-group">
  

  <li class="list-group-item list-group-item-primary">Sufficient Coverage: Ensure the policy you choose provides adequate coverage for yourself and your entire family.</li>
  <li class="list-group-item list-group-item-secondary">Significance of Individual Plans: While employer-provided group health insurance is common, reviewing individual plans and their terms is beneficial to make an informed decision.</li>
  <li class="list-group-item list-group-item-success">Compensation: Add supplementary coverage such as hospital cash and critical illness benefits to compensate for non-payable losses.</li>
  <li class="list-group-item list-group-item-danger">Update Existing Conditions: Keep your health insurer informed about any existing medical conditions to ensure seamless coverage.</li>
  <li class="list-group-item list-group-item-warning">Understand Terms and Conditions: Familiarise yourself with the details of your health insurance, including deductibles, waiting periods, cumulative incentives, and pre-existing sickness provisions</li>
  <li class="list-group-item list-group-item-info">Opt for High Sum Coverage: Given the rising medical costs, selecting a policy with a high sum coverage is advisable.</li>
  <li class="list-group-item list-group-item-light">Early Purchase Advantage: Buy a health insurance plan at an early age to enjoy a higher level of coverage while keeping your premiums affordable.</li>
  
</ul>
	
</div>

<hr>

	<div class="choose">
		<h2 style="background-color: midnightblue; color: white; height: 80px;">Choosing the Right Insurance Plan</h2>		
		
		<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Consideration</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Coverage </th>
      <td>: Evaluate the coverage provided by multiple plans and select or choose the one that reasonably meets your needs.</td>
    </tr>
    
    
    <tr>
      <td>Sum Assured </td>
      <td>: Select an appropriate sum that guarantees sufficient coverage to alleviate your financial obligations, considering affordability.</td>
    </tr>
    
    
    <tr>
      <td>Hospital Coverage </td>
      <td>: Verify the insurer's extensive network of hospitals that accept cashless hospitalisation.</td>
    </tr>
    
    <tr>
		<td>Floater Over Individual Policy </td>
		<td>: If you need health coverage for your family, choose a family plan instead of individual policies. It can be more cost-effective.</td>
	</tr>
  </tbody>
</table>
		
	</div>
		
<hr>






	
	
	
	
	</div>
	</section>
	
	




</body>
</html>